
h1{
    color: red;
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-size: 4vw;
    margin-top: 4vw;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Adjust the shadow values for the outline effect */
}

body{
    background-image: url('creamBackground.jpeg');
    background-size: cover; /* Adjusts the background image size to cover the entire viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}


.buttons {
    text-align: center;
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 2vw 5vw;
    margin: 1vw;
    text-decoration: none;
    color: #fff;
    background-color: #3498db; /* Set button background color */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    font-size: 2vw;
}

.button:hover {
    background-color: #2980b9; /* Change background color on hover */
}

label {
    display: block;
    margin-bottom: 2px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

form {
    max-width: 600px; /* Adjust the max-width of the form */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.radio-label {
    display: flex;
    flex-direction: row;
}

/* Optional: If you want to align the text to the right of the radio button */
.radio-label input {
}